doctype html
html
  head
    base(href=".")
    title Hobbymusik
    meta(name='description' content='Hobbymusik - Musik ist unser Hobby')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(href="/styles/site.min.css", rel="stylesheet")
    link(href="/styles/style.css", rel="stylesheet")
    style.
      /* Initial CSS to prevent FOUC (Flash of Unstyled Content) */
      .loading {
        padding-top: 15px;
        font-size: 36px;
        font-family: Arial;
        text-align: center;
      }
  body
    my-app
      .loading Loading...
    script(src="js/generated/bundle.js")
